/**************
    VARIABLES
**************/
$text-font: 'Montserrat', sans-serif;
$text-size: 15px;
$text-weight: 700;
$gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$veryLightBlue: #f7f7fe;
$LightBlue: #d0d5f6;
$grayBlue: #6e728e;
$darkBlue: #4a4d60;
$blue: #6D72DE;

/**************
    GENERAL
**************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text-font;
    font-weight: $text-weight;
}

/**************
    MAIN
**************/

/**************
    FOOTER
**************/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/**************
    @MEDIA
**************/